html{
	font-family: 'Indie Flower', cursive;
	font-family: 'Sedgwick Ave Display', cursive;
	font-family: 'Noto Sans', sans-serif;
}

input{
	font-family: 'Indie Flower', cursive;
	font-family: 'Sedgwick Ave Display', cursive;
	font-family: 'Noto Sans', sans-serif;
	cursor:pointer;
	
}
body{
	overflow:hidden;
}
a{
	text-decoration:none;
}
.absbar{
	background-color: #F2F2F2;
	position: absolute;
	display:inline-block;
	min-width: 100%;
    min-height: 5%;
	bottom: 0px; 
	border: 1px solid rgba(203,203,203,.5);
	
	
}
}
.spacebar1{
	margin:20px;
	background-color:grey;
}
.spacebar[type=a]{
	margin:10px;
}
.bar1{
	font-family: 'Indie Flower', cursive;
	font-family: 'Sedgwick Ave Display', cursive;
	font-family: 'Noto Sans', sans-serif;
	cursor:pointer;
	font-size: 80%;
	color:#757575;
	display:inline-block;
	position:absolute;
	left: 0px;
	bottom:0px;
	margin-bottom:10px;
	margin-left:20px;

}
.bar2{
	display:inline-block;
	position:absolute;
	bottom:0px;
	right:0px;
	margin-bottom:10px;
	font-size:80%;
	margin-right:20px;
}
.el1{
	position:absolute;
	right:10px;
	display: block;
	margin-top:-15px;
	color:#757575;
}

#el2{
	display:inline-block;
	margin-right:7px;
	font-size: 80%;
}

#el3{
	display:inline-block;
	margin-right:7px;
	font-size: 80%;
}

#el4{
	display:inline-block;
}	
#el5{
	display:inline-block;
	margin-right:45px;
	width:15px;
	height:25px;
	
	
}
#el6{
	margin-left:85px;
	display:inline-block;
	
}

#b1{
	background-color:#4785F2;
	color:white;
	border-radius: 2px;
	padding: 7px 15px;
	border: 0px;
	font-weight:bold;

}
#b2{
	border-radius: 2px;
	padding: 10px 18px;
	border:0px;
	background-color: rgba(220, 220, 220,.3);
	color:#757575;
	font-weight:bold;
}
#b3{
	border-radius: 2px;
	padding: 10px 18px;
	border: 0px;
	background-color: rgba(220, 220, 220,.3);
	color:#757575;
	font-weight:bold;
}

img{
	position:absolute;
	width:580x;
	height:240px;
	top:120px;
	left:783px;

}
input[type=text]{
	width:580px;
	height:40px;
	position:absolute;
	top:315px;
	left:730px;
	box-shadow: 0px 1.5px 3.5px  0px rgba(0,0,0,.3);
	border: .5px solid #CBCBCB;
	cursor:text;
	font-size:17px;
	padding-left:15px;
	outline:none;
}


.buttonBottom{
	display:inline-block;
	position:absolute;
	top: 370px;
	left:893px;
	
}
